extends ../../../node_modules/jade-bootstrap/_bootstrap.jade

html
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
block body
      nav.navbar.navbar.navbar-default(role='navigation')
          .container
              .navbar-header
                .container-fluid
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
            ul
                  ul.nav.navbar-nav.navbar-left
                  a.navbar-brand(href='https://github.com/larryliUbc/jelly') Jelly Butter
              ul.nav.nav-pills
                  li.active(role='presentation')
                    a(href='#') Home
                  li(role='presentation')
                    a(href='#') Profile
                  li(role='presentation')
                    a(href='#') Messages
                include ../searchbar.jade
                

          if (!req.isAuthenticated())            
              #navbar.navbar-collapse.collapse
                  form.navbar-form.navbar-right(name='login', action='/users/session', method='POST')
                      .form-group
                            input.form-control(id= 'username', name= 'username',type='text', placeholder='Username', value= '', required)
                      .form-group
                            input.form-control(id= 'password', type='password', name= 'password', pattern=".{6,}",placeholder='Password')
                      .btn-group
                         button.btn.btn-success(type='submit') Sign in
                         button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                             span.caret
                             span.sr-only Toggle Dropdown
                           ul.dropdown-menu
                             li
                               a(href='signup') Sign Up
                  

          else
                  .container
                      ul.nav.navbar-nav.navbar-right
                        li.dropdown
                          a.dropdown-toggle(href='#', data-toggle='dropdown')
                            span.glyphicon.glyphicon-user
                            strong #{req.user.username}
                            span.glyphicon.glyphicon-chevron-down
                           ul.dropdown-menu
                            li
                              .navbar-login
                                .row
                                .col-lg-4
                                  p.text-center
                                    span.glyphicon.glyphicon-user.icon-size
                                .col-lg-8
                                  p.text-left
                                    strong #{req.user.username}
                                  p.text-left.small #{req.user.username}
                                  p.text-center
                                    a.btn.btn-primary.btn-block.btn-sm(href='/users/'+req.user.username) View Profile
                            li.divider
                            li
                              .navbar-login.navbar-login-session
                                .row
                                  .col-sm-12
                                    p
                                      a.btn.btn-danger.btn-block(href='/logout') Logout
                     .clearfix

