include mixins
include ../Flat/navbar.jade
body 
    .container
      .demo-headline
        h1.demo-logo
          .logo
          |           Jelly Chat 
          small Free Web Chat App
       span.demo-text-note How to use this App?
        p
          small
            | It's easy to use: 
            li You can signup for this app, and upload your profile pictures.
            li You can search your friend's names by searchig and add them to your friends list
            li You can start a chat by click the link (Working).
          
            


