// -Panel mixin
mixin panel(heading, style)
   - var style = (typeof style) ? "default" : style
   div( class=["panel", "panel-" + style])
      .panel-heading= heading
      .panel-body
           block