doctype html
html
  head
    meta(charset='utf-8')
    title ChatRoom
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/jquery.cookie.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='/js/chat.js')
    link(type='text/css', rel='stylesheet', href='stylesheets/common.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/chat.css')
  body
    #contain
      #content
        #content_show
          #contents
        #content_saying
          #toolbar
          #input_content(contenteditable='true')
          #sayingto
            | Hello
            span#from
            |  ，you are speaking to
            span#to
            |  说
          #say Send
      #users_online
        #usersbar
          #user_label Online Clients
          #users_list
            ul#list

        
