 section#results
 .center
 .col-xs-3
 .tile
   
    h3.tile-title #{req_name}
    ul
     .btn-group
       form(method='post', action= '', role='form')
        button#button0.btn.btn-primary.btn-large(type='submit')  Accept Friend 
       form(method='post', action= '', role='form')
        button#button0.btn.btn-danger.btn-large(type='submit')  Ignore  