doctype html

html
  header 
     include ./bootstrap_lli/navbar.jade
      block content
        .main
          .landing
            h2= title

               ul
                  each result in results
                      p
                        ol 
                          img(src="#{result.user_profile_photo}", width='30', height='30')   
                          #{result.username}
                                              

         
         
         

       
       
