doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Flat UI - Free Bootstrap Framework and Theme
    meta(name='description', content='Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version.')
    meta(name='viewport', content='width=1000, initial-scale=1.0, maximum-scale=1.0')
    // Loading Bootstrap
    link(href='/Flat-UI/dist/css/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Loading Flat UI
    link(href='/Flat-UI/dist/css/flat-ui.css', rel='stylesheet')
    link(href='/Flat-UI/docs/assets/css/demo.css', rel='stylesheet')
    link(rel='shortcut icon', href='/img/favicon.ico')
    // HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
    //if lt IE 9
      script(src='dist/js/vendor/html5shiv.js')
      script(src='dist/js/vendor/respond.min.js')
    include ./Flat/navbar.jade

        
     
     
   body

        

     if (!req.isAuthenticated)
          - var names = [];
          - var arrayLength = req.user.pendingFriendList.length;
          -  for (var i = 0; i < arrayLength; i ++ )
                -  names.push(req.user.pendingFriendList[i].userName);
                - console.log(names[i]);
                section#results
                .container
                  .col.demo-tiles
                    .center
                      each result in results
                       if ((result.username !== req.user.username))
                        .col-xs-3
                          .tile
                              a( href="/users/"+result.username )
                              img.tile-image.big-illustration(src="#{result.user_profile_photo}", width='45', height='45', alt='Compas')
                              h3.tile-title #{result.username}
                                if (names.indexOf(result.username) != -1 )
                                  ul
                                  button#button1.btn.btn-warning.btn-large.btn-block(type='button') Pending
                                
                                else
                                  ul 
                                  form(method='post', action= '/users/'+req.user.username+'/addfriend/' + result.username, role='form')
                                    button#button0.btn.btn-primary.btn-large.btn-block(type='submit')  Add Friend Here
     else 
        section#results
          .container
            .col.demo-tiles
              .center
                each result in results
                  .col-xs-3
                    .tile
                        a( href="/users/"+result.username )
                        img.tile-image.big-illustration(src="#{result.user_profile_photo}", width='45', height='45', alt='Compas')
                        h3.tile-title #{result.username}
                            ul 
                            form(method='post', action= '', role='form')
                              button#button0.btn.btn-primary.btn-large.btn-block(type='submit')  Add Friend Here