extends ./layouts/default.jade
block main
  
  h2= title
      form(class='form-signup',name='signup', action='/signup', method='POST')
        li
        input(type='text', name='name', placeholder='Name', value= '', required)
        li
        input(type='text', name='username', placeholder='User Name', value='', required)
        li
        input(type='text', name='email', placeholder='Email', value='', required)
        li
        input(type='password', name="unhashed_password",pattern=".{6,}",placeholder='Enter your password here',value = '',required)
        li
        input(type='password', name="confirm_user_password",pattern=".{6,}",placeholder='Re-enter your password',required)
        li
        button(type='submit', name='submit_button') Sign Up