include ./home/mixins
include ./Flat/navbar.jade
body
      form(name='uploadprofile', action='/uploadprofile', method='POST', enctype='multipart/form-data', id="my-awesome-dropzone")
        li
        input(type='file', name='profile_photo', value= '', required)

        button(type='submit', name='submit_button') Yes, Upload as my profile
script(src='/js/dropzone.js')