doctype html
include ./bootstrap_lli/navbar.jade
html 
  block main
    button(type="button", onclick="location.href='/logout'") Logout here 
    
        
    div.welcomebox
    p.

      Welcome, #{user.username}
    table
    tr 
        td
        a(href='/uploadprofile')     
          img(src="#{user.user_profile_photo}", width='200', height='200', class= 'thumbnail')
       
            
    tr   
        td Email:  
        td #{user.email}
 
